.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}

h1, h2 {
  background-color: var(--item-bg-color);
  border-radius: 8px;
  border-color: var(--border-color);
  padding: 10px;
  border-style: groove;
  color: var(--text-color);
}

input[type="text"], button {
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
}

input[type="text"] {
  width: calc(100% - 84px);
  background-color: #fff;
  box-shadow: 0 2px 5px var(--border-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border-color: var(--border-color);
  border-style:groove;
}

button img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 8px;
  border-color: var(--border-color);
  border-style: groove;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.dropdown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  box-shadow: 0 2px 10px var(--border-color);
  border-radius: 8px;
  border-color: var(--border-color);
  border-style:groove;
}

.dropdown ul {
  list-style: none;
  padding: 0;

}

.dropdown ul li, .search-results div {
  padding: 10px;
  cursor: pointer;
}

.dropdown button {
  width: 100%;
  margin-top: 10px;
}

.trackItem {
  display: flex;
  align-items: center;
  background-color: var(--item-bg-color);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  border-color: var(--border-color);
  border-style:groove;
}

.trackItem:hover {
  background-color: var(--item-hover-bg-color);
}

.albumArt {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.trackName {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: bold;
}

.artistName {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--text-color);
  font-style: italic;
}

.cluster-results {
  margin-top: 20px;
  padding: 10px;
  /* background-color: var(--primary-color); */
  /* box-shadow: 0 2px 5px var(--border-color); */
  /* border-radius: 8px; */
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  input[type="text"], button {
    width: 100%;
    margin-top: 5px;
  }

  .dropdown {
    width: 95%;
    left: 2.5%;
    right: auto;
  }
}

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  border-color: var(--border-color);
  border-style:groove;
  border-radius: 8px;
}

.searchBar {
  display: flex;
  padding: 10px;
  gap: 10px
}

.search-results {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.search-results.show {
  opacity: 1;
  visibility: visible;
}

.makePlaylist {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.homeButton {
  margin-bottom: 10px;
  border-color: var(--border-color);
  border-style:groove;
}
