.App {
  background-color: #1E4D2B;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
  border-color: #59595B;
  border-style:groove;
  border-radius: 8px;
}

/* Header styling */
h1, h2 {
  color: #59595B; /* Modern blue */
}

/* Input and button styling */
input[type="text"], button {
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px; /* Rounded borders for a softer look */
}

input[type="text"] {
  width: calc(100% - 84px); /* Responsive width */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
  display: flex;
  align-items: center; /* Aligns the text and the image vertically */
  justify-content: center; /* Centers the content horizontally */
  background-color: #D9782D; /* Color for the button */
  color: 59595B;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border-color: #59595B;
  border-style:groove;
}

button img {
  width: 50px; /* Suitable size for icons within buttons */
  height: 50px; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between the icon and text */
  border-radius: 8px;
  border-color: #59595B;
  border-style: groove;
}

button:hover {
  background-color: rgb(206, 112, 40); /* Darker shade on hover */
}

/* Dropdown for selected tracks and clusters */
.dropdown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background: #C8C372;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px #282829;
  border-radius: 8px;
  border-color: #59595B;
  border-style:groove;
}

.dropdown ul {
  list-style: none;
  padding: 0;

}

.dropdown ul li, .search-results div {
  padding: 10px;
  cursor: pointer;
}

.dropdown button {
  width: 100%;
  margin-top: 10px;
}

/* Individual track item styling */
.trackItem {
  display: flex;
  align-items: center;
  background-color: #C8C372;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  border-color: #59595B;
  border-style:groove;
}

.trackItem:hover {
  background-color: #88864d; /* Light blue highlight on hover */
}

.albumArt {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.trackName {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.artistName {
  margin-top: 4px;
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

.cluster-results {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffe;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

/* Ensuring responsiveness and visual alignment */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  input[type="text"], button {
    width: 100%;
    margin-top: 5px;
  }

  .dropdown {
    width: 95%;
    left: 2.5%;
    right: auto;
  }
}

.header {
  background-color: #ffe;
  display: flex;
  justify-content: center;
  border-color: #59595B;
  border-style:groove;
  border-radius: 8px;
}

.searchBar {
  display: flex;
  padding: 10px;
  gap: 10px
}

.search-results {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.search-results.show {
  opacity: 1;
  visibility: visible;
}

.makePlaylist {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.homeButton {
  margin-bottom: 10px;
  border-color: #59595B;
  border-style:groove;
}
