.song-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  width: 80%;
  align-items: center; /* Aligns items vertically center */
}

.song-image {
  width: 50px; /* Set a fixed width for the image */
  height: 50px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  margin-right: 20px; /* Adds some space between the image and the text */
}

.song-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-artists {
  font-size: 16px;
  color: #666;
}
