:root {
  --primary-color: #12173d; /* Indigo */
  --button-bg-color: #1DB954; /* Orange */
  --button-hover-bg-color: #23e066; /* Light Orange */
  --background-color: #FFFFFF; /* White */
  --text-color: #f8dede; /* White */
  --subtext-color: #191414; /* Light Grey */
  --border-color: #8f8f8f; /* Dark Grey */
  --item-bg-color: #37474F; /* Deep Grey Blue */
  --item-hover-bg-color: #455A64; /* Slightly Lighter Grey Blue */
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
